[user]
    name = Tilo Schwarz
    email = tilo.schwarz.de@gmail.com
[gui]
    fontdiff = -family terminal -size 8 -weight normal -slant roman -underline 0 -overstrike 0
    fontui = -family helvetica -size 8 -weight bold -slant roman -underline 0 -overstrike 0

[alias]
    b = branch
    co = checkout
    d = diff
    dc = diff --cached
    l = log
    lg = log --graph --pretty=format:'%Cred%h%Creset - %s%C(bold blue)%d%Creset %Cgreen(%cr) %C(bold black)<%an>%Creset' --abbrev-commit --date=relative
    r = remote
    s = status
    sub = submodule
[credential]
    helper = cache --timeout=2592000
[sendemail]
    confirm = auto
[color]
    ui = auto
[diff]
[log]
